haveXSD/geometryBasic2d.xsd

<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Clemens Portele (interactive instruments) -->
<xs:schema targetNamespace="http://www.opengis.net/gml" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema"elementFormDefault="qualified"
        version="3.1.1.2">
	<xs:annotation>
		<appinfo source="urn:opengis:specification:gml:schema-xsd:geometryBasic2d:3.1.1">geometryBasic2d.xsd</appinfo>
		<xs:documentation>
			GML is an OGC Standard.
			Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="gml.xsd"/>
	<xs:include schemaLocation="geometryBasic0d1d.xsd"/>
	<!-- =========================================================== -->
	<!-- primitive geometry objects (2-dimensional) -->
	<!-- =========================================================== -->
	<element name="_Surface" type="gml:AbstractSurfaceType" abstract="true" substitutionGroup="gml:_GeometricPrimitive">
		<xs:annotation>
			<xs:documentation>The "_Surface" element is the abstract head of the substituition group for all (continuous) surface elements.</xs:documentation>
		</xs:annotation>
	</element>
	<!-- =========================================================== -->
	<complexType name="AbstractSurfaceType">
		<xs:annotation>
			<xs:documentation>An abstraction of a surface to support the different levels of complexity. A surface is always a continuous region of a plane.</xs:documentation>
		</xs:annotation>
		<complexContent>
			<extension base="gml:AbstractGeometricPrimitiveType"/>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="surfaceProperty" type="gml:SurfacePropertyType">
		<xs:annotation>
			<appinfo>
				<sch:pattern name="Check either href or content not both">
					<sch:rule context="gml:surfaceProperty">
						<sch:extends rule="hrefOrContent"/>
					</sch:rule>
				</sch:pattern>
			</appinfo>
			<xs:documentation>This property element either references a surface via the XLink-attributes or contains the surface element. surfaceProperty is the predefined property which can be used by GML Application Schemas whenever a GML Feature has a property with a value that is substitutable for _Surface.</xs:documentation>
		</xs:annotation>
	</element>
	<!-- =========================================================== -->
	<complexType name="SurfacePropertyType">
		<xs:annotation>
			<xs:documentation>A property that has a surface as its value domain can either be an appropriate geometry element encapsulated in an element of this type or an XLink reference to a remote geometry element (where remote includes geometry elements located elsewhere in the same document). Either the reference or the contained element must be given, but neither both nor none.</xs:documentation>
		</xs:annotation>
		<sequence minOccurs="0">
			<element ref="gml:_Surface"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup">
			<xs:annotation>
				<xs:documentation>This attribute group includes the XLink attributes (see xlinks.xsd). XLink is used in GML to reference remote resources (including those elsewhere in the same document). A simple link element can be constructed by including a specific set of XLink attributes. The XML Linking Language (XLink) is currently a Proposed Recommendation of the World Wide Web Consortium. XLink allows elements to be inserted into XML documents so as to create sophisticated links between resources; such links can be used to reference remote properties.
A simple link element can be used to implement pointer functionality, and this functionality has been built into various GML 3 elements by including the gml:AssociationAttributeGroup.</xs:documentation>
			</xs:annotation>
		</attributeGroup>
	</complexType>
	<!-- =========================================================== -->
	<element name="surfaceArrayProperty" type="gml:SurfaceArrayPropertyType"/>
	<!-- =========================================================== -->
	<complexType name="SurfaceArrayPropertyType">
		<xs:annotation>
			<xs:documentation>A container for an array of surfaces. The elements are always contained in the array property, referencing geometry elements or arrays of geometry elements is not supported.</xs:documentation>
		</xs:annotation>
		<sequence>
			<element ref="gml:_Surface" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<!-- =========================================================== -->
	<element name="Polygon" type="gml:PolygonType" substitutionGroup="gml:_Surface"/>
	<!-- =========================================================== -->
	<complexType name="PolygonType">
		<xs:annotation>
			<xs:documentation>A Polygon is a special surface that is defined by a single surface patch. The boundary of this patch is coplanar and the polygon uses planar interpolation in its interior. It is backwards compatible with the Polygon of GML 2, GM_Polygon of ISO 19107 is implemented by PolygonPatch.</xs:documentation>
		</xs:annotation>
		<complexContent>
			<extension base="gml:AbstractSurfaceType">
				<sequence>
					<element ref="gml:exterior" minOccurs="0"/>
					<element ref="gml:interior" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<!-- rings (closed curves for surface boundaries) -->
	<!-- =========================================================== -->
	<element name="_Ring" type="gml:AbstractRingType" abstract="true" substitutionGroup="gml:_Geometry">
		<xs:annotation>
			<xs:documentation>The "_Ring" element is the abstract head of the substituition group for all closed boundaries of a surface patch.</xs:documentation>
		</xs:annotation>
	</element>
	<!-- =========================================================== -->
	<complexType name="AbstractRingType" abstract="true">
		<xs:annotation>
			<xs:documentation>An abstraction of a ring to support surface boundaries of different complexity.</xs:documentation>
		</xs:annotation>
		<complexContent>
			<extension base="gml:AbstractGeometryType"/>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="exterior" type="gml:AbstractRingPropertyType">
		<xs:annotation>
			<xs:documentation>A boundary of a surface consists of a number of rings. In the normal 2D case, one of these rings is distinguished as being the exterior boundary. In a general manifold this is not always possible, in which case all boundaries shall be listed as interior boundaries, and the exterior will be empty.</xs:documentation>
		</xs:annotation>
	</element>
	<element name="interior" type="gml:AbstractRingPropertyType">
		<xs:annotation>
			<xs:documentation>A boundary of a surface consists of a number of rings. The "interior" rings seperate the surface / surface patch from the area enclosed by the rings.</xs:documentation>
		</xs:annotation>
	</element>
	<element name="outerBoundaryIs" type="gml:AbstractRingPropertyType" substitutionGroup="gml:exterior">
		<xs:annotation>
			<xs:documentation>Deprecated with GML 3.0, included only for backwards compatibility with GML 2. Use "exterior" instead.</xs:documentation>
		</xs:annotation>
	</element>
	<element name="innerBoundaryIs" type="gml:AbstractRingPropertyType" substitutionGroup="gml:interior">
		<xs:annotation>
			<xs:documentation>Deprecated with GML 3.0, included only for backwards compatibility with GML 2. Use "interior" instead.</xs:documentation>
		</xs:annotation>
	</element>
	<!-- =========================================================== -->
	<complexType name="AbstractRingPropertyType">
		<xs:annotation>
			<xs:documentation>Encapsulates a ring to represent the surface boundary property of a surface.</xs:documentation>
		</xs:annotation>
		<sequence>
			<element ref="gml:_Ring"/>
		</sequence>
	</complexType>
	<!-- =========================================================== -->
	<element name="LinearRing" type="gml:LinearRingType" substitutionGroup="gml:_Ring"/>
	<!-- =========================================================== -->
	<complexType name="LinearRingType">
		<xs:annotation>
			<xs:documentation>A LinearRing is defined by four or more coordinate tuples, with linear interpolation between them; the first and last coordinates must be coincident.</xs:documentation>
		</xs:annotation>
		<complexContent>
			<extension base="gml:AbstractRingType">
				<sequence>
					<choice>
						<xs:annotation>
							<xs:documentation>GML supports two different ways to specify the control points of a linear ring.
1. A sequence of "pos" (DirectPositionType) or "pointProperty" (PointPropertyType) elements. "pos" elements are control points that are only part of this ring, "pointProperty" elements contain a point that may be referenced from other geometry elements or reference another point defined outside of this ring (reuse of existing points).
2. The "posList" element allows for a compact way to specifiy the coordinates of the control points, if all control points are in the same coordinate reference systems and belong to this ring only. The number of direct positions in the list must be at least four.</xs:documentation>
						</xs:annotation>
						<choice minOccurs="4" maxOccurs="unbounded">
							<element ref="gml:pos"/>
							<element ref="gml:pointProperty"/>
							<element ref="gml:pointRep">
								<xs:annotation>
									<xs:documentation>Deprecated with GML version 3.1.0. Use "pointProperty" instead. Included for backwards compatibility with GML 3.0.0.</xs:documentation>
								</xs:annotation>
							</element>
						</choice>
						<element ref="gml:posList"/>
						<element ref="gml:coordinates">
							<xs:annotation>
								<xs:documentation>Deprecated with GML version 3.1.0. Use "posList" instead.</xs:documentation>
							</xs:annotation>
						</element>
						<element ref="gml:coord" minOccurs="4" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Deprecated with GML version 3.0 and included for backwards compatibility with GML 2. Use "pos" elements instead.</xs:documentation>
							</xs:annotation>
						</element>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="LinearRingPropertyType">
		<xs:annotation>
			<xs:documentation>Encapsulates a ring to represent properties in features or geometry collections.</xs:documentation>
		</xs:annotation>
		<choice>
			<element ref="gml:LinearRing"/>
		</choice>
	</complexType>
	<!-- =========================================================== -->
	<!-- 
	
	The following types and elements are deprecated and should not be used !
	
	-->
	<!-- =========================================================== -->
	<element name="polygonProperty" type="gml:PolygonPropertyType">
		<xs:annotation>
			<xs:documentation>Deprecated with GML 3.0 and included only for backwards compatibility with GML 2.0. Use "surfaceProperty" instead.
This property element either references a polygon via the XLink-attributes or contains the polygon element.</xs:documentation>
		</xs:annotation>
	</element>
	<!-- =========================================================== -->
	<complexType name="PolygonPropertyType">
		<xs:annotation>
			<xs:documentation>This type is deprecated with GML 3 and shall not be used. It is included for backwards compatibility with GML 2. Use SurfacePropertyType instead.
A property that has a polygon as its value domain can either be an appropriate geometry element encapsulated in an element of this type or an XLink reference to a remote geometry element (where remote includes geometry elements located elsewhere in the same document). Either the reference or the contained element must be given, but neither both nor none.</xs:documentation>
		</xs:annotation>
		<sequence minOccurs="0">
			<element ref="gml:Polygon"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup">
			<xs:annotation>
				<xs:documentation>This attribute group includes the XLink attributes (see xlinks.xsd). XLink is used in GML to reference remote resources (including those elsewhere in the same document). A simple link element can be constructed by including a specific set of XLink attributes. The XML Linking Language (XLink) is currently a Proposed Recommendation of the World Wide Web Consortium. XLink allows elements to be inserted into XML documents so as to create sophisticated links between resources; such links can be used to reference remote properties.
A simple link element can be used to implement pointer functionality, and this functionality has been built into various GML 3 elements by including the gml:AssociationAttributeGroup.</xs:documentation>
			</xs:annotation>
		</attributeGroup>
	</complexType>
	<!-- =========================================================== -->
</xs:schema>